<main class="hero" role="main" aria-label="القسم الرئيسي">
    <!-- content on the left -->
    <section class="hero-content" aria-labelledby="heroTitle">
        <div class="card-hero" role="region" aria-labelledby="heroTitle">
            <h1 id="heroTitle" class="clinic-name"><img src="assets/images/tribe_logo2.png" class="edit-logo" alt=""></h1>

<!-- <span class="clinic-name-edit">.</span> TRIBE  -->
            <p class="desc">

                موقع حجز المواعيد للعيادات ، بنفكر فيك ك فرد مننا ف طورنا الويبسايت ده علشان يساعدك في انك تنظم مواعيد عيادتك ويساعدك انك متخسرش المرضى بسبب التاخير في الرد او لغبطة المواعيد.

            </p>
            <p class="desc2">

                جرب بنفسك الآن ؟!
            </p>

            <div class="hero-actions">
                <a class="btn btn-primary" routerLink="/booking" aria-label="احجز الآن">احجز الآن</a>
                <a class="btn btn-outline" routerLink="/info" aria-label="استعلام">استعلام</a>
            </div>
        </div>

    </section>

    <!-- image on the right -->
    <!-- <section class="hero-media" aria-hidden="true">
        <div class="img" role="img" aria-label="صورة العيادة"></div>
    </section> -->
</main>