<section class="social-media">
    <div class="wrap">
        <div class="icons" role="list">
            <!-- phone -->
            <a class="social-btn" href="tel:01015844708" aria-label="اتصل بنا" role="listitem">
                <i class="fa-solid fa-phone"></i>
            </a>

            <!-- whatsapp -->
            <a class="social-btn" href="https://wa.me/+201005372741" target="_blank" rel="noopener" aria-label="واتساب"
                role="listitem">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <a class="login" routerLink="/Admin-login">تسجيل الدخول</a>
        <div class="copyright">©2025 - 2026 powered by <span class="cop-edit">TRIBE</span>  | All Rights Reserved</div>
    </div>
</section>