<section class="social-media">
    <div class="wrap">
        <div class="icons" role="list">
            <!-- gmail -->
            <a class="social-btn" href="mailto:tribeintouch@gmail.com" aria-label="اتصل بنا" role="listitem">
                <i class="fa-regular fa-envelope"></i>
            </a>

             <!-- Tik -->
            <a class="social-btn" (click)="openTik()" aria-label="اتصل بنا" role="listitem">
                <i class="fa-brands fa-tiktok"></i>
            </a>

            <!-- Insta -->
            <a class="social-btn" (click)="openInsta()" aria-label="اتصل بنا" role="listitem">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <!-- Face -->
            <a class="social-btn" (click)="openFace()" aria-label="اتصل بنا" role="listitem">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <!-- whatsapp -->
            <a class="social-btn" href="https://wa.me/+201224621081" target="_blank" rel="noopener" aria-label="واتساب"
                role="listitem">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>

        <a class="login" routerLink="/Admin-login">تسجيل الدخول</a>
        <div class="copyright">©2025 - 2026 powered by <span class="cop-edit">TRIBE</span>  | All Rights Reserved</div>
    </div>
</section>